*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{

background:linear-gradient(180deg,#ffd6ef,#f3d2ff);

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:20px;

}

.contenedor{

width:100%;
max-width:430px;

background:white;

border-radius:30px;

padding:30px;

box-shadow:0 15px 40px rgba(180,80,220,.25);

text-align:center;

}

h1{

color:#c03cff;

font-size:36px;

margin-bottom:15px;

}

.precio{

font-size:20px;

color:#ff4ea3;

margin-bottom:10px;

}

.info{

color:#777;

margin-bottom:30px;

}

.tablero{

display:flex;

justify-content:space-between;

gap:15px;

margin-bottom:30px;

}

.circulo{

position:relative;

width:105px;

height:105px;

border-radius:50%;

overflow:hidden;

background:linear-gradient(180deg,#ffd84d,#ffb300);

box-shadow:

0 8px 20px rgba(255,180,0,.4),

inset 0 2px 8px rgba(255,255,255,.7);

}

.canvas{

position:absolute;

inset:0;

width:100%;

height:100%;

cursor:pointer;

touch-action:none;

animation:pulse 2s infinite;

}

@keyframes pulse{

0%{

transform:scale(1);

}

50%{

transform:scale(1.04);

}

100%{

transform:scale(1);

}

}

.premio{

position:absolute;

inset:0;

display:flex;

justify-content:center;

align-items:center;

padding:10px;

text-align:center;

font-weight:bold;

font-size:15px;

color:white;

background:linear-gradient(180deg,#ff71c8,#b94cff);

border-radius:50%;

}

.oculto{

display:none;

}

.mensaje{

margin-top:25px;

background:#ffe9fb;

padding:20px;

border-radius:20px;

animation:pop .45s;

}

.mensaje h2{

color:#c03cff;

margin-bottom:10px;

}

#textoPremio{

color:#ff4ea3;

margin-bottom:15px;

}

@keyframes pop{

0%{

transform:scale(.6);

opacity:0;

}

70%{

transform:scale(1.08);

}

100%{

transform:scale(1);

opacity:1;

}

}